<!DOCTYPE html>
<html lang="en">
<head>
  <title>Train Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://kit.fontawesome.com/ff429d8bc2.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>


  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/practice.css' %}"/>
  <script src="{% static '/javascript/base.js' %}"></script>
  <script src="{% static '/javascript/functions.js' %}"></script>

  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }

  .affix {
	position:fixed;
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }


  </style>
  <script>
	$(window).scroll(function(){
		var scroll = $(window).scrollTop();
		console.log($('#banner_top').height());
		if(scroll > $('#banner_top').height()+$('#navBarMain').height()){
			$('#navBarMain').addClass('affix');
		}
		if(scroll < $('#banner_top').height()+$('#navBarMain').height()){
			$('#navBarMain').removeClass('affix');
		}

	});
  </script>
</head>
<body>

<!--<div class="jumbotron text-center" style="margin-bottom:0" id="banner_top">
  <h2>Welcome To</h2>
  <h1>Train</h1>
  <p>The home of fitness</p>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="text-center col-sm-1 col-md-1 col-lg-1" style="background-color:;"></div>
    <div class="col-sm-10 col-md-10 col-lg-10" style="background-color:;">
      <nav class="navbar navbar-expand-sm " id="navBarMain">
        <div id="logoCont">
          <a class="navbar-brand navImg" id ="logoImgCont" href="{% url 'home' %}">
             <img  id="logoImg" src="{%  static 'images/blogo1.png' %}" width="160" height="60" alt="">
            <!--<img  id="logoImg2" src="{%  static 'images/wlogo1.png' %}" width="160" height="60" alt="">-->
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse mr-auto" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">

                              {% if user.is_authenticated and user.profile.fullname != none and user.profile.stats.height != none %}
          <!–– Logged in ––>
            <li class="nav-item">
              <a class="nav-link navLink" href="{% url 'home' %}">Social</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-link navLink">
              <a class="navLink nav-link" href="{% url 'home' %}">Training</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="{% url 'home' %}">Diet</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link navLink" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link navLink" href="#"><i class="fas fa-search"></i></a>
            </li>
          </ul>
        </div>
      </nav>
      <div  class="borderDiv" style="margin-bottom:50px;"></div>
    </div>
    <div class="text-center col-sm-1 col-md-1 col-lg-1" style="background-color:;"></div>

  </div>
</div>
    <!--
    <!––Nav Right ––>
    <ul class="navbar-nav">

      {% if user.is_authenticated %}
          <!–– Logged in ––>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}"><i class=""></i> Logout</a>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}"><i class=""></i> Login</a>
      </li>blogo1.png
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}"><i class=""></i> Register</a>
      </li>

      {% endif %}
      </ul>
  </div> -->
<div id="blackScreen">
  <div id="blackScreenContCont">
  <div id="blackScreenCont">
    <div id="imgCont">
    <img  id="centImage" src="{%  static 'images/wlogo1.png' %}" width="320" height="120" alt="">
    </div>
  </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="text-center col-sm-1 col-md-1 col-lg-1" style="background-color:;"></div>
    <div class="col-sm-10 col-md-10 col-lg-10" style="height:200px;">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
              {{ message }}
    </div>
      {% endfor %}
      {% endif %}
                    {% block content %}{% endblock %}
    </div>
    <div class="text-center col-sm-1 col-md-1 col-lg-1" style="background-color:;"></div>
  </div>
</div>
</body>
</html>
