{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="main-div">

    <div class="left-side">


        <form method="POST">
                {% csrf_token %}

                    <legend class="reg-legend">Create Account</legend>


            <div class="form-group-up">


                {% if form.username.errors %}
                    <div class="reg-form-input">
                        <div class="eye-div fas fa-user-alt icon"></div>
                        <input type="text" class="reg-input1" maxlength="35" name="username"  placeholder="Username">
                        <div class="eye-div"></div>
                    </div>
                        {% for error in form.username.errors %}
                        <div class="reg-form-input-error">
                        {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="reg-form-input">
                        <div class="eye-div fas fa-user-alt icon"></div>
                        <input type="text" class="reg-input1" maxlength="35" name="username"  placeholder="Username">
                        <div class="eye-div"></div>
                    </div>
                {% endif %}






                {% if form.email.errors %}
                    <div class="reg-form-input">
                        <div class="eye-div fas fa-at icon"></div>
                        <input type="text" class="reg-input2" maxlength="35" name="email" placeholder="Email">
                        <div class="eye-div"></div>
                    </div>
                        {% for error in form.email.errors %}
                        <div class="reg-form-input-error">
                        {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="reg-form-input">
                        <div class="eye-div fas fa-at icon"></div>
                        <input type="text" class="reg-input2" maxlength="35" name="email" placeholder="Email">
                        <div class="eye-div"></div>
                    </div>
                {% endif %}






                {% if form.password1.errors %}
                    <div class="reg-form-input">
                        <div class="eye-div fas fa-user-alt icon"></div>
                        <input id="pwd1" type="password" class="reg-input3" maxlength="35" name="password1" placeholder="Password">
                        <div class="eye-div fa fa-eye" id="eye1" onclick="passReveal1()"></div>
                    </div>
                        {% for error in form.password1.errors %}
                        <div class="reg-form-input-error">
                        {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="reg-form-input">
                        <div class="eye-div fas fa-user-alt icon"></div>
                        <input id="pwd1" type="password" class="reg-input3" maxlength="35" name="password1" placeholder="Password">
                        <div class="eye-div fa fa-eye" id="eye1" onclick="passReveal1()"></div>
                    </div>
                {% endif %}



                {% if form.password2.errors %}
                    <div class="reg-form-input">
                        <div class="eye-div fas fa-unlock icon"></div>
                        <input id="pwd2"  type="password" class="reg-input4" maxlength="35" name="password2" placeholder="Password Confirmation">
                        <div class="eye-div fa fa-eye" id="eye2" onclick="passReveal2()"></div>
                    </div>
                        {% for error in form.password2.errors %}
                        <div class="reg-form-input-error">
                        {{ error }}
                        </div>
                    {% endfor %}
                {% else %}

                    <div class="reg-form-input">
                        <div class="eye-div fas fa-unlock icon"></div>
                        <input id="pwd2"  type="password" class="reg-input4" maxlength="35" name="password2" placeholder="Password Confirmation">
                        <div class="eye-div fa fa-eye" id="eye2" onclick="passReveal2()"></div>
                    </div>
                {% endif %}

            </div>



            <button class="reg-button" type="sumbmit">Create</button>


        </form>

    </div>

    <div class="right-side">


    </div>

</div>
{% endblock content %}